.Disacount_code_sale1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Disacount_code_sale4 {
  display: flex;
  flex-direction: column;
}
.Disacount_code_sale2 {
  display: flex;
}
.Disacount_code_sale3 {
  width: 130px;
  height: 110px;
  background-color: rgba(27, 81, 74, 1.2);
}
.Disacount_code_sale1 {
  height: 110px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.asdfert {
  background-color: rgba(99, 33, 20, 1.3) !important;
}
.Disacosdunt_code_sale3 {
  font-size: 1.8rem;
  font-weight: 650;
  margin-top: 5px;
  margin-left: 23px;
}
.Disacount_code_sale {
  margin-top: 10px;
}
.Disacount_code_sale11 {
  justify-content: center;
  align-items: center;
}
.Disacount_code_sale112 {
  margin-left: 23px;
  margin-top: -10px;
}
.Disacousdfjnt_code_sale112 {
  margin-top: -10px;
  margin-left: 5px;
}
.Disacount_code_sale6 {
  display: flex !important;
  margin-top: -30px;
  align-items: center;
}
.Disacount_code_sale8 {
  display: flex;
}
.Disacount_code_sale4 {
  margin-top: -7px;
}
.Disacsdount_code_sale4 {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin-left: 10px;
}
.Disacount_code_sale7 {
  font-size: 1.3rem;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  display: inline;
  margin-left: 10px;
}
.Disacount_code_sale8 {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
.Disacou12nt_code_sale8 {
  color: rgba(0, 0, 255, 0.7);
}
.Disacount_code_sale9 {
  align-items: center;
}
