.NOW_H_IMG {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NOW_H {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.NOW_H_t {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}
.ducv2glkadfda {
  width: 100%;
}
.adfshj {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
}
