.profile-address {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.9);
}
.proAdress3 {
  margin-left: 20px;
}
.edfsdfgsd {
  margin-right: 20px;
}
.proAdrsess4 {
  margin-left: 20px;
}
.proAdrsess4 {
  margin-top: 10px;
}
.proAdress2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proAdress3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.proAdress4 {
  border: 1px solid white;
  width: 100%;
}
.asesav {
  margin-top: -20px;
}
.proAasdress5 {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.proAdress5 {
  font-size: 1.6rem;
  font-weight: 530;
  margin-top: -3px;
}
.proAdress6 {
}
.proAdress7 {
  margin-top: -10px;
}
.proAdress8 {
  font-size: 1.6rem;
  font-weight: 550;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
.dtadress {
  font-size: 1.4rem;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 !important;
  margin-bottom: 10px !important;
}
.proAdress10 {
  margin-top: -20px;
}
.proAdress11 {
}
.proAdress12 {
}
.proAdress13 {
}
.proAdress14 {
}
.proAdress15 {
}
.proAdress16,
.proAdress18 {
  font-size: 1.3rem;
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);
  display: inline-block;
  margin-top: -40px;
  margin-left: 5px;
}
.proAdress17 {
}
.proAdress18 {
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  cursor: pointer;
}
