.book-item-1 {
  width: 45%;
  min-height: 700px;
}
.book-item-container {
  display: flex;
}
.Book-EvaluateInnerContainer {
  display: flex;
  flex-direction: row !important;
  border: 2px solid white;
}
.Book-EvaluateTitlesda {
  margin-top: 20px;
}
.Book-EvaluateStart {
  margin-left: 5px;
}
.Book-EvaluateStasdfrsdt {
  font-size: 1.8rem;
  color: bisque;
  margin-left: 3px;
  font-weight: 600;
}
.Book-EvaluateContainer {
  display: flex;
  flex-direction: column !important;
}
.book-item-2 {
  width: 55%;
  min-height: 1000px;
}
.main-item-container {
  display: flex;
  flex-direction: column;
}
.Book-EvaluateStarsdffh {
  display: flex;
  align-items: center;
}
.book-item-3 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.book-item-p {
  font-size: 2rem;
  font-weight: 700;
}
.book-item-feetback-khachhanfg {
  margin-top: 40px;
  margin-left: 40px;
  width: 90%;
  min-height: 1000px;
  background-color: black;
}
