.Profile {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 7px;
  margin-top: 100px;
}
.Profile1 {
  margin-left: 15px;
}
.ProfileP2 {
  font-size: 1.8rem;
}
.ProfileP {
  font-size: 1.3rem;
  color: #b3aca2;
}
.asg {
  margin-left: 10px;
}
.duasgac:focus {
  outline: none;
}
.Profile-asbutton {
  margin-top: 100px;
}
.asgsagej {
  margin-left: 36px;
}
.ae4 {
  margin-left: 101px;
}
.jert {
  margin-left: 90px;
}
.ProfilaarweP {
  display: flex;
  margin-left: 66px;
}
.ProfilePasd {
  margin-left: 73px;
}
.sdt {
  margin-left: 41px;
}
.asdfgww {
  margin-top: -10px;
}
.ProfileDiv {
  display: flex;
}
.ProfileDiv14 {
  margin-left: 120px;
}
.ProfileDiv1 {
  display: flex;
  justify-content: space-between;
}
.ProfileDiv {
  display: flex;
  flex-direction: column;
}
.duasgac {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #0e0f0f;
  &hover {
    border: none;
  }
}
.ProfileButton {
  width: 100px !important;
  margin-top: 20px;
}
