.Profile-mk {
  width: 100%;
  z-index: 1;
}
.Profile-delete {
  margin-top: 97px !important;
}
.Profile-p {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
}
.Profile-detle-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 25px;
}
.Profile-detle-delete {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
}
