.evaluate-title {
  font-size: 2rem;
  margin-top: -5px;
}
.evaluate-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.evaluate-product-info {
  display: flex;
  align-items: center;
}
.BuyNowProductDetails {
  margin-top: 30px !important;
}
.evaluate-product-name {
}
.evaluate-product-image {
  width: 70px;
  height: 70px;
}
.evaluate-main {
}
.evaluate-title {
}
.evaluate-container {
}
.evaluate-product-info {
  margin-top: -10px;
}
.evaluate-product-image {
}
.evaluate-product-details {
}
.evaluate-product-name {
  margin-left: 20px;
}
.evaluate-product-category {
  margin-left: 20px;
  margin-top: -10px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.4);
}
.evaluate-quality {
  display: flex;
  align-items: center;
  margin-top: -5px;
}
.evaluate-quality-title {
  margin-right: 20px;
}
.evaluate-features {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.evaluate-feature-k {
  background-color: black;
  width: 80%;
}
.evaluate-feature-input {
  padding: 0 !important;
  margin-left: 22px;
  margin-top: 9px;
}
.evaluate-feature-title12 {
  margin-top: -10px !important;
  padding: 0;
  width: 90%;
  border: none;
  height: 25px;
}
.evaluate-feature-title123 {
  margin-top: -10px !important;
  padding: 0;
  width: 90%;
  border: none;
  height: 25px;
}
.evaluate-feature-title {
  margin: 0 !important;
  padding: 0 !important;
}
.evaluate-quality-input {
  margin-left: 22px;
  margin-top: 9px;
}
.ho {
  margin-top: 10px;
}
.evaluate-quality-title1 {
  margin-left: 0;
  padding: 0 !important;
}
.evaluate-input {
}
.evaluate-add-media {
}
.evaluate-add-image {
}
.evaluate-add-video {
}
.evaluate-reward {
  display: flex;
  float: right;
  margin-right: -350px;
}
.evaluate-feature-title1,
.evaluate-quality-title1 {
  margin: 0 !important;
}
.evaluate-reward-info {
  font-size: 1.3rem;
}
.evaluate-reward-amount {
  font-size: 1.3rem;
  color: var(--primary);
  display: flex;
  align-items: center;
}
.evaluate-username-display {
}
.evaluate-username-info {
}
.evaluate-username-title {
}
.evaluate-username-example {
}
.evaluate-username {
}
.evaluate-service-title {
}
.evaluate-add-image,
.evaluate-add-video {
  margin-left: -130px;
  margin-top: 10px;
  height: 30px !important;
  font-size: 1.4rem;
}
.evaluate-username-display {
  display: flex;
  align-items: center;
}
.evaluate-username-info {
  display: flex;
  flex-direction: column;
}
.evaluate-username-titlekk {
  display: flex;
}
.evaluate-username-title {
  font-size: 1.5rem;
}
.evaluate-username-example {
  margin-top: -10px;
  font-size: 1.5rem;
}
.evaluate-username-size {
  font-size: 1.6rem;
}
.evaluate-username {
  margin-top: -7px;
  font-size: 1.3rem;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.4);
}
.evaluate-service-title {
  margin-top: -3px;
  font-size: 1.7rem;
}
.BuyNowProductItem {
  margin-top: 20px;
}

.evaluate-service {
  margin-top: -15px;
}
.evaluate-service-seller {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.evaluate-service-seller-title {
  margin-right: 5px;
}
.evaluate-service-seller {
}
.evaluate-service-seller-title {
}
.evaluate-actions {
  float: right;
}
.evaluate-back {
}
.evaluate-complete {
}
