.NowShippingChange {
  margin-right: 235px;
  font-size: 1.5rem;
  color: rgba(0, 0, 255, 0.6);
  font-weight: 600;
  cursor: pointer;
}
.asjdhflkh {
  display: flex;
  flex-direction: column;
}
.thu123 {
  background-color: white;
  padding: 5px;
}
.Buy_chance_ship_go {
  margin-top: -20px;
}
.Buy_chance_ship_text {
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 40px;
}
.Buy_chancdasde_ship_text {
  font-size: 1.4rem;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.5);
}
.Buy_chandssdcdasde_ship_text {
  font-size: 1.3rem;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.5);
}
.Buy_chance_ship_list {
  min-height: 400px;
}
.Buy_chandsdffsdcdasde_ship_text {
  font-size: 1.5rem;
}
.Buy_ddchandssdcdasde_ship_text {
  font-size: 1.5rem;
  color: var(--primary);
  margin-left: 5px;
}
.Buy_chandsdfsdcdasde_ship_text_main,
.Buy_chandsdfsdcdasde_ship_text_main {
  background-color: black;
  width: 100%;
  display: flex;
}
.ddddddd {
  margin-left: 10px;
  cursor: pointer;
}
.Buy_chance_ship_btn {
  float: right;
}
.Buy_chandddssdcdasde_ship_text {
  margin-right: 10px;
}
.Buy_chancdasde_ship_text p {
  margin-right: 5px;
}
