.Content_LogIn_confirm-input {
  width: 440px;
  height: 500px;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Content_LogOUT-mk-button {
  margin-bottom: 30px;
}
.input-contssssainer {
  background-color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.lkdjunn {
}
.lkdjunn {
  margin-top: 35px !important;
  input {
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 30px !important;
    margin-right: 30px;
  }
}
.Content_Logsss {
  display: flex;
}
@media screen and (max-width: 803px) {
  .Content_Logsss {
    display: flex;
    flex-direction: column;
  }
}
