.profile-chace {
  margin-top: 0 !important;
}
.NowChangeTexasdit {
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
}
.NowChangeTeffxt {
  margin-bottom: 5px;
}
.NowChangeText {
  cursor: pointer;
}
