.jjasd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ducv2glk {
  width: 80%;
  margin-top: 7px;
}
.NowHeaderTitle {
  margin-left: 153px;
  color: black;
}
.pay_right12345 {
  margin-left: 25px;
  margin-right: 300px;
  font-size: 1.7rem;
}
.asdfut-text {
  text-decoration: none;
}
.pay_right1235 {
  float: right;
}
.ducv2glkad {
  background-color: rgb(53 40 0);
  width: 80%;
  min-height: 275px;
}
.ducv2glkadfd {
  display: flex;
  flex-direction: column;
  margin-left: 78%;
  width: 100%;
  margin-top: 20px;
}
.askjd {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.4);
  margin-right: 40px;
}
.asdkfj {
  font-size: 1.4rem;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 !important;
}
.asd {
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.as {
  font-size: 2.4rem;
  padding: 0 !important;
  font-weight: 650;
}
.asasas {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}
.aerwtesfd {
  font-size: 1.4rem;
  color: var(--primary);
}
.asf {
  min-width: 200px;
  font-size: 1.8rem;
  height: 45px;
  margin-right: 30px;
}
.aass {
  display: flex;
  align-items: center;
}
.asd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
