.search {
  display: flex;
  justify-content: space-between;
  height: 68px;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  margin-top: 0;
  width: 100%;
  background-color: #e85a4c;
  z-index: 3;
  //   Beige: #f5f5dc
  // Light Grey: #d3d3d3
  // Muted Blue: #add8e6
  // Peach: #ffdab9
  align-items: center;
}
.search1 {
  display: flex;
  justify-content: space-between;
  height: 68px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;
  background-color: #e85a4c;
  //   Beige: #f5f5dc
  // Light Grey: #d3d3d3
  // Muted Blue: #add8e6
  // Peach: #ffdab9
  align-items: center;
}
.end {
  margin-bottom: 0 !important;
}
