.search-2 {
  height: 46px;
  border-radius: 92px;
  background: rgba(22, 24, 35, 0.06);
  width: 300px;
  margin-left: 51px;
  display: flex;
}
.input-2 {
  width: 100%;

  font-size: 15px;
  font-weight: 400;

  border-right: 1px solid rgba(22, 24, 35, 0.2);
  background: transparent;
  outline: none;
  border: none;
}
.main-book {
  display: flex;
}
.list--2 {
  margin-top: 4px;
}
