.Disacount_code_ {
  display: flex;
  flex-direction: column;
}
.Disacount_code_SUPORT {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}
.Disacount_code_SUPORTP1 {
}
.Disacount_code_SUPORTP2 {
}
.Disacount_code_INPUT {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 80px;
}
.Disacount_code_INPUT-1 {
}
.Disacount_code_INPUT-2 {
  width: 300px !important;
  height: 40px;
  margin-top: 3px !important;
}
.Disacount_code_INPUT-2:focus {
  outline: none;
}
.Disacaasdount_code_SUPORT {
  margin-top: -10px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 15px;
}
.sdfgDisacount_code_SUPORT {
  margin-top: -10px;
  margin-bottom: -5px;
}
